@using Store.Application.Services.Products.Queries.GetCategories;
@model List<CategoriesDto>

@{
    ViewData["Title"] = "لیست دسته‌بندی‌ها";
    Layout = "~/Areas/Admin/Views/Shared/_Adminlayout.cshtml";
}

<div class="box">
    <br>
    <div class="box-header">
        <div class="row w-100">
            <div class="col-md-4">
                <h3 class="box-title mt-3">لیست دسته بندی ها</h3>
            </div>
            <div class="col-md-4 text-left">
                <a href="~/admin/Categories/AddNewCategory" class="btn btn-success mb-2">افزودن دسته بندی‌ جدید</a>
            </div>
            <div class="col-md-4 text-center">
                <form method="get" class="form-inline justify-content-center">
                    <input type="text" class="form-control ml-2" name="serchkey" placeholder="جستجو..." />
                    <button class="btn btn-success">جستجو</button>
                </form>
            </div>
        </div>
    </div>
    <br>
    <div class="box-body">
        <div class="dataTables_wrapper form-inline dt-bootstrap">
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped dataTable">
                        <thead>
                            <tr>
                                <th>نام دسته‌بندی</th>
                                <th>دسته پدر</th>
                                <th>عملیات</th>
                                <th>لیست فرزندان</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Name</td>
                                    <td>
                                        @{
                                            string parent = item.Parent != null ? item.Parent.name : "-";
                                        }
                                        <text>@parent</text>
                                    </td>
                                    <td>
                                        <button class="btn btn-danger" onclick="DeleteCategory('@item.Id')">حذف</button>
                                        @if (item.Parent == null)
                                        {
                                            <a href="~/admin/categories/addnewcategory?ParentId=@item.Id" class="btn btn-success">افزودن فرزند</a>
                                        }
                                    </td>
                                    <td>
                                        @if (item.HasChild == true)
                                        {
                                            <a href="~/admin/categories/index?ParentId=@item.Id" class="btn btn-info">مشاهده لیست فرزندها</a>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts
{
    <link href="~/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
    <script src="~/sweetalert2/sweetalert2.min.js"></script>

    <script>
        // حذف دسته‌بندی
        function DeleteCategory(CategoryId) {
            swal.fire({
                title: 'حذف دسته‌بندی',
                text: "آیا از حذف این دسته‌بندی مطمئن هستید؟",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#7cacbe',
                confirmButtonText: 'بله ، حذف شود',
                cancelButtonText: 'خیر'
            }).then((result) => {
                if (result.value) {
                    var postData = { 'CategoryId': CategoryId };

                    $.ajax({
                        contentType: 'application/x-www-form-urlencoded',
                        dataType: 'json',
                        type: "POST",
                        url: "Delete",
                        data: postData,
                        success: function (data) {
                            if (data.isSuccess == true) {
                                swal.fire(
                                    'موفق!',
                                    data.message,
                                    'success'
                                ).then(function () {
                                    location.reload();
                                });
                            }
                            else {
                                swal.fire(
                                    'هشدار!',
                                    data.message,
                                    'warning'
                                );
                            }
                        },
                        error: function (request, status, error) {
                            alert(request.responseText);
                        }
                    });
                }
            })
        }
    </script>
}
