@using Store.Common;
@using Store.Application.Services.Orders.Queries.GetOrdersForAdmin;
@model List<OrdersDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Adminlayout.cshtml";
}

<div class="box">
    <br>
    <div class="box-header">
        <div class="row w-100">
            <div class="col-md-4">
                <h3 class="box-title mt-3">لیست سفارشات </h3>
            </div>
            <div class="col-md-4 text-left">
            </div>
            <div class="col-md-4 text-center">
                <form method="get" class="form-inline justify-content-center">
                    <input type="text" class="form-control ml-2" name="serchkey" placeholder="جستجو..." />
                    <button class="btn btn-success">جستجو</button>
                </form>
            </div>
        </div>
    </div>
    <br>
        <div class="row">
            <div class="col-sm-12">
                <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                    <thead>
                        <tr role="row">
                            <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="نام: activate to sort column descending" style="width: 222px;">شماره سفارش</th>
                            <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="نام: activate to sort column descending" style="width: 222px;">تاریخ ثبت سفارش</th>
                            <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="نام: activate to sort column descending" style="width: 222px;">شماره فاکتور</th>
                            <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="نام: activate to sort column descending" style="width: 222px;">وضعیت سفارش</th>
                            <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="نام: activate to sort column descending" style="width: 222px;"></th>


                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr role="row" class="odd">
                                <td class="sorting_1">@item.OrderId</td>
                                <td>@item.InsetTime</td>
                                <td>@item.RequestId</td>
                                <td>
                                    @{
                                        string state = EnumHelpers<Store.Domain.Entities.Orders.OrderState>.GetDisplayValue(item.OrderState);
                                    }
                                    <text>@state </text>
                                </td>
                                <td>
                                    <a class="btn btn-info"> مشاهده کاربر </a>
                                    <a class="btn btn-danger">مشاهده فاکتور </a>

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>




