@using Store.Application.Services.Carts
@model CartDto;
@{
    Layout = null;
}

<a href="#" class="dropdown-toggle iconhead" data-toggle="dropdown" id="navbar_a" aria-expanded="true">
    <i class="fa fa-cart-arrow-down font-20" aria-hidden="true"></i>
</a>

<div class="dropdown-menu show" aria-labelledby="navbar_a" x-placement="bottom-start" style="position: absolute; transform: translate3d(22px, 36px, 0px); top: 0px; left: 0px; will-change: transform;">
    <ul class="m_cart-list">
        <li class="m_cart_li1">
            <a href="single-product.html" class="m_cart-item">
                <i class="fa fa-times" aria-hidden="true"></i>


                <div class="m_cart-item-content">
                    <div class="m_cart-item-image">
                        <img src="assets/img/product_img/p_6.jpg">
                    </div>
                    <div class="m_cart-item-details">
                        <div class="m_cart-item-title">
                            ساعت هوشمند امیزفیت
                        </div>
                        <div class="m_cart-item-params">
                            <div class="m_cart-item-props">
                                <span>تعداد : 2</span>
                                <span>رنگ: سبز ارتشی</span>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </li>
        <li class="m_cart_li2">
            <a href="single-product.html" class="m_cart-item">
                <i class="fa fa-times" aria-hidden="true"></i>


                <div class="m_cart-item-content">

                    <div class="m_cart-item-details">
                        <div class="m_cart-item-title">
                            شیائومی مدل Poco X4
                        </div>
                        <div class="m_cart-item-params">
                            <div class="m_cart-item-props">
                                <span>تعداد : 1</span>
                                <span>رنگ: مشکی</span>
                            </div>
                        </div>
                    </div>
                    <div class="m_cart-item-image">
                        <img src="assets/img/product_img/p_9.jpg">
                    </div>
                </div>
            </a>
        </li>
    </ul>
    <div class="m_cart-header">
        <div class="m_cart-total">
            <span>مجموع سبد:</span>
            <span> ۳۵,۲۵۳,۵۰۰</span>
            <span> تومان</span>
        </div>
    </div>
    <div class="btn_cart">
        <a href="cart.html" class="btn btn_sabad">مشاهده سبد</a>
        <a href="Final-payment.html" class="btn btn_pardakht btn-main-masai">پرداخت</a>
    </div>
</div>

